


/* CHAT PAGE */
.chat-page {
    max-width: 768px;
    margin: auto;
}
.messages-content {
    background: #f9f9f9;
    border: 1px solid #d2d6de;
    height: 250px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 25px;
    overflow: auto;
}
.messages-content li {
    list-style: none;
    border: 1px solid #f0f0f0;
    background: #fff;
    padding: 5px 10px;
    margin-bottom: 7px;
    border-radius: 4px;
}


.message-input-box {
    position: relative;
    padding-right: 82px;
}
.message-input-box button {
    position: absolute;
    top: 0;
    right: 0;
}