<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>CẢM ƠN BẠN ĐÃ GỬI THÔNG TIN LIÊN HỆ</h2>
    <ul>
        <li>Name: {{name}}</li>
        <li>Email: {{email}}</li>
        <li>Title: {{title}}</li>
        <li>Content: {{content}}</li>
    </ul>
</body>
</html>